* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
  height: 100vh;
}

/* NAVBAR */
.navbar {
  height: 70px;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
  cursor: pointer;
}

.nav-links li:hover {
  color: #38bdf8;
}

/* PAGES */
.page {
  display: none;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page.active {
  display: flex;
}

h1 {
  margin-bottom: 10px;
}

p {
  max-width: 600px;
  color: #cbd5f5;
}

